[submodule "plugins/vimdoc-ja"]
	path = plugins/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja
[submodule "plugins/neobundle.vim"]
	path = plugins/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "plugins/unite.vim"]
	path = plugins/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "plugins/vim-quickrun"]
	path = plugins/vim-quickrun
	url = https://github.com/thinca/vim-quickrun
[submodule "plugins/vim-alignta"]
	path = plugins/vim-alignta
	url = https://github.com/h1mesuke/vim-alignta
[submodule "plugins/neocomplete.vim"]
	path = plugins/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
