#footer
  .clearfix
  %ul.sns-icon.list-inline
    %li
      %i.fa.fa-twitter.fa-2x
        %a.twitter-share-button{"data-count" => "none", "data-url" => "http://vim-help-jp.herokuapp.com/", :href => "https://twitter.com/share"} Tweet
        %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "standard-balloon", "data-hatena-bookmark-title" => "いつでもどこでも :help する - Vim :help", :href => "http://b.hatena.ne.jp/entry/http://vim-help-jp.herokuapp.com/", :title => "このエントリーをはてなブックマークに追加"}
          %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "http://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border: none;", :width => "20"}/
        .g-plusone{"data-annotation" => "inline", "data-width" => "150"}
    %li
      %i.fa.fa-facebook.fa-2x
  / /sns-icon
  .copy
    %span
      Create by
      %a{:href => "http://osyo-manga.github.io/about/" } osyo-manga
  / /copy
/ /footer
:javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

%script{:async => "async", :charset => "utf-8", :src => "http://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
