
%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
%script{:src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'}
%link(rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css')

%script{:src => 'javascript/vimhelp.js'}


#content
  .container
    %p
      %form{"data-target" => "#myModal", onSubmit: 'return false;'}
        .col-lg-6
          .input-group.input-group-lg
            %span.input-group-btn
              %button.btn.btn-info{"data-target" => "#myModal", "data-toggle" => "modal"} :help
            %input#input_text.form-control{:type => "text"}/


#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %a.modal-title{ :href => "./", "data-placement" => "right", "data-toggle" => "tooltip", :title => "test",  } help
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
      .modal-body#result-body
      .modal-footer
        %a.btn.btn-info.test{ :href => "", "data-placement" => "right", "data-toggle" => "tooltip", :title => "test", :type => "button"} vimdoc-ja
        %a.btn.btn-info.vimdoc{ :href => "", :type => "button"} vimdoc-ja
        %button.btn.btn-default.prev{ :type => "button"} <
        %button.btn.btn-default.next{ :type => "button"} >
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

